<div class="modal-overlay is-open" data-modal>
    <div class="modal">
    <button class="modal-close-button" type="button" data-modal-close>
          <svg class="modal-icon-close" width="32" height="32">
            <use href="/img/icons.svg#icon-close"></use>
          </svg>
        </button>
        <div class="modal-text-box">
        <h3 class="modal-text">Join Now!</h3>
        <p class="modal-first-paragraph">One Session</p>
        <p class="modal-second-paragraph">$10</p>
        </div>
        <form class="modal-form">
        <div class="modal-form-field">
            <label class="modal-form-label" for="name">Your Name</label>
            <div class="modal-input-wrapper">
              <input class="modal-form-input" name="name" id="name" type="name" placeholder="Placeholder">
            </div>
        </div>
        <div class="modal-form-row">
        <div class="modal-form-field">
            <label class="modal-form-label" for="email">Email</label>
            <div class="modal-input-wrapper">
              <input class="modal-form-input" name="email" id="email" type="email" placeholder="Placeholder">
            </div>
        </div>
        <div class="modal-form-field">
            <label class="modal-form-label" for="phone">Phone number</label>
            <div class="modal-input-wrapper">
              <input class="modal-form-input" name="phone" id="phone" type="phone" placeholder="Placeholder">
            </div>
        </div>
        <button class="modal-input-button" type="submit">Go to checkout</button>
        </form>
    </div>
</div>