<section class="gallery">
  <div class="container gallry-container">
    <div class="container-gallery-title">
      <h2 class="gallery-title">Breathe in the Space</h2>
      <p class="gallery-text">
        Step inside YogaBloom and feel the calm. Explore our serene studio and
        the peaceful moments our community shares during each session.
      </p>
    </div>
    <ul class="gallery-list">
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width:1336px)"
            srcset="
              /img/gallery/galleryDesk1-min.png    1x,
              /img/gallery/galleryDesk1@2x-min.png 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/gallery/galleryTab1-min.png    1x,
              /img/gallery/galleryTab1@2x-min.png 2x
            "
          />
          <source
            media="(max-width:767px)"
            srcset="
              /img/gallery/galleryMob1-min.png    1x,
              /img/gallery/galleryMob1@2x-min.png 2x
            "
          />
          <img
            class="gallery-img"
            src="/img/gallery/galleryDesk1-min.png"
            alt="yoga training"
            width="421"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width:1336px)"
            srcset="
              /img/gallery/galleryDesk2-min.png    1x,
              /img/gallery/galleryDesk2@2x-min.png 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/gallery/galleryTab2-min.png    1x,
              /img/gallery/galleryTab2@2x-min.png 2x
            "
          />
          <source
            media="(max-width:767px)"
            srcset="
              /img/gallery/galleryMob2-min.png    1x,
              /img/gallery/galleryMob2@2x-min.png 2x
            "
          />
          <img
            class="gallery-img"
            src="/img/gallery/galleryDesk2-min.png"
            alt="yoga training"
            width="421"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width:1336px)"
            srcset="
              /img/gallery/galleryDesk3-min.png    1x,
              /img/gallery/galleryDesk3@2x-min.png 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/gallery/galleryTab3-min.png    1x,
              /img/gallery/galleryTab3@2x-min.png 2x
            "
          />
          <source
            media="(max-width:767px)"
            srcset="
              /img/gallery/galleryMob3-min.png    1x,
              /img/gallery/galleryMob3@2x-min.png 2x
            "
          />
          <img
            class="gallery-img"
            src="/img/gallery/galleryDesk3-min.png"
            alt="yoga training"
            width="421"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width:1336px)"
            srcset="
              /img/gallery/galleryDesk4-min.png    1x,
              /img/gallery/galleryDesk4@2x-min.png 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/gallery/galleryTab4-min.png    1x,
              /img/gallery/galleryTab4@2x-min.png 2x
            "
          />
          <source
            media="(max-width:767px)"
            srcset="
              /img/gallery/galleryMob4-min.png    1x,
              /img/gallery/galleryMob4@2x-min.png 2x
            "
          />
          <img
            class="gallery-img"
            src="/img/gallery/galleryDesk4-min.png"
            alt="yoga training"
            width="421"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width:1336px)"
            srcset="
              /img/gallery/galleryDesk5-min.png    1x,
              /img/gallery/galleryDesk5@2x-min.png 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/gallery/galleryTab5-min.png    1x,
              /img/gallery/galleryTab5@2x-min.png 2x
            "
          />
          <source
            media="(max-width:767px)"
            srcset="
              /img/gallery/galleryMob5-min.png    1x,
              /img/gallery/galleryMob5@2x-min.png 2x
            "
          />
          <img
            class="gallery-img"
            src="/img/gallery/galleryDesk5-min.png"
            alt="yoga training"
            width="421"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width:1336px)"
            srcset="
              /img/gallery/galleryDesk6-min.png    1x,
              /img/gallery/galleryDesk6@2x-min.png 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/gallery/galleryTab6-min.png    1x,
              /img/gallery/galleryTab6@2x-min.png 2x
            "
          />
          <source
            media="(max-width:767px)"
            srcset="
              /img/gallery/galleryMob6-min.png    1x,
              /img/gallery/galleryMob6@2x-min.png 2x
            "
          />
          <img
            class="gallery-img"
            src="/img/gallery/galleryDesk6-min.png"
            alt="yoga training"
            width="421"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
