<section class="hero" id="hero-section">
	<div class="container">
		<div class="hero-image"></div>
		<div class="hero-text-box">
			<h1 class="title-one">Transform Your Life with Our Yoga Clases</h1>
			<div class="text-button-box">
				<p class="hero-text">Discover the harmony of mind and body through our expertly designed yoga programs. Join a community dedicated to wellness and personal growth.</p>
				<div class="button-box">
					<a href="#pricing" class="btn-style btn-join-now">Join Now</a>
					<a href="#gallery" class="btn-style btn-learn-more">Learn More</a>
				</div>
			</div>
		</div>
	</div>
</section>