<div class="mobile-menu-container">
    <div class="mobile-menu">
            <button class="mobile-menu-close-button"><svg class="close-icon" width="24" height="24">
          <use href="/img/icons.svg#icon-close"></use>
        </svg></button>
        <div class="mobile-menu-logo">
             <a href="/index.html"><svg class="menu-logo" width="83" height="23">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg></a>
        </div>
        <div class="menu-join">
            <a class="header-link-join-now" href="#pricing">Join</a>
        </div>
        <div class="menu-join-now">
            <a class="header-link-join-now-mobil" href="#pricing">Join Now</a>
        </div>
        <nav class="mob-nav">
            <ul class="mob-nav-list">
                <li class="mob-nav-list-items"><a class="header-links" href="">Yoga Classes</a></li>
                <li class="mob-nav-list-items"><a class="header-links" href="">Team</a></li>
                <li class="mob-nav-list-items"><a class="header-links" href="">Testimonials</a></li>
                <li class="mob-nav-list-items"><a class="header-links" href="">Pricing</a></li>
                <li class="mob-nav-list-items"><a class="header-links" href="">Contacts</a></li>
            </ul>
        </nav>
        <div class="menu-join-now-bottom">
            <a class="header-link-join-now-bottom" href="#pricing">Join Now</a>
        </div>
    </div>
</div>