<section class="pricing" id="pricing">
  <div class="container">
    <h2 class="pricing-title">
      <span class="pricing-sub-heading">Affordable</span>
      <span class="pricing-main-heading">Pricing Plans</span>
    </h2>
    <p class="pricing-subtitle">
      Choose the perfect plan for your yoga journey.
    </p>
    <ul class="pricing-cards">
      <!-- One Session -->
      <li class="pricing-card">
        <h3 class="pricing-card-title">One Session</h3>
        <p class="pricing-card-subtitle">$10</p>
        <ul class="pricing-card-list">
          <li class="pricing-card-item">
            <svg class="pricing-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-check"></use>
            </svg>
            1 group session
          </li>
          <li class="pricing-card-item">
            <svg class="pricing-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-check"></use>
            </svg>
            10% discount for next 2 Sessions
          </li>
          <li class="pricing-card-item">
            <svg class="pricing-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-check"></use>
            </svg>
            Community support group
          </li>
        </ul>
        <button type="button" class="pricing-join-button" data-modal-open>Join</button>
      </li>
      <!-- 8 Sessions Package -->
      <li class="pricing-card">
        <h3 class="pricing-card-title">8 Sessions Package</h3>
        <p class="pricing-card-subtitle">$65</p>
        <ul class="pricing-card-list">
          <li class="pricing-card-item">
            <svg class="pricing-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-check"></use>
            </svg>
            6 Group Sessions
          </li>
          <li class="pricing-card-item">
            <svg class="pricing-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-check"></use>
            </svg>
            2 Individual Sessions
          </li>
          <li class="pricing-card-item">
            <svg class="pricing-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-check"></use>
            </svg>
            Priority customer support
          </li>
        </ul>
        <button type="button" class="pricing-join-button" data-modal-second-open>Join</button>
      </li>
      <!-- 12 Sessions Package Hidden -->
      <li class="pricing-card hidden-card">
        <h3 class="pricing-card-title">12 Sessions Package</h3>
        <p class="pricing-card-subtitle">$80</p>
        <ul class="pricing-card-list">
          <li class="pricing-card-item">
            <svg class="pricing-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-check"></use>
            </svg>
            8 Group Sessions
          </li>
          <li class="pricing-card-item">
            <svg class="pricing-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-check"></use>
            </svg>
            4 Individual Sessions
          </li>
          <li class="pricing-card-item">
            <svg class="pricing-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-check"></use>
            </svg>
            Monthly yoga challenges
          </li>
          <li class="pricing-card-item">
            <svg class="pricing-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-check"></use>
            </svg>
            Exclusive member discounts
          </li>
          <li class="pricing-card-item">
            <svg class="pricing-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-check"></use>
            </svg>
            Community support group
          </li>
        </ul>
        <button type="button" class="pricing-join-button" data-modal-third-open>Join</button>
      </li>
      <!-- 12 Sessions Package -->
      <li class="pricing-card third-card">
        <div class="pricing-card-left">
          <h3 class="pricing-card-title">12 Sessions Package</h3>
          <p class="pricing-card-subtitle">$80</p>
          <button type="button" class="pricing-join-button" data-modal-third-open>Join</button>
        </div>
        <div class="pricing-card-right">
          <ul class="pricing-card-list">
            <li class="pricing-card-item">
              <svg class="pricing-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              8 Group Sessions
            </li>
            <li class="pricing-card-item">
              <svg class="pricing-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              4 Individual Sessions
            </li>
            <li class="pricing-card-item">
              <svg class="pricing-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              Monthly yoga challenges
            </li>
            <li class="pricing-card-item">
              <svg class="pricing-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              Exclusive member discounts
            </li>
            <li class="pricing-card-item">
              <svg class="pricing-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              Community support group
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
