<div class="modal-overlay" data-modal-second>
    <div class="modal">
        <button class="modal-close-button" type="button" data-modal-second-close>
            <svg class="modal-icon-close" width="32" height="32">
                <use href="../img/icons.svg#icon-close"></use>
            </svg>
        </button>
        <div class="modal-text-box">
            <h3 class="modal-text">Join Now!</h3>
            <p class="modal-first-paragraph">8 Sessions</p>
            <p class="modal-second-paragraph">$65</p>
        </div>
        <form class="modal-form">
            <div class="modal-form-field">
                <label class="modal-form-label" for="name-modal-second">Your Name</label>
                <div class="modal-input-wrapper">
                    <input class="modal-form-input" name="name-second" id="name-modal-second" type="text" placeholder="Placeholder"
                        pattern="^[a-zA-Zа-яА-ЯёЁіІїЇєЄґҐ\s'-]{2,40}$" required>
                    <p class="text-valid">Succes!</p>
                    <p class="text-invalid">Invalid name, try again</p>
                </div>
            </div>
            <div class="modal-form-row">
                <div class="modal-form-field">
                    <label class="modal-form-label" for="email-second-modal">Email</label>
                    <div class="modal-input-wrapper">
                        <input class="modal-form-input" name="email-second" id="email-second-modal" type="email" placeholder="Placeholder"
                            required>
                        <p class="text-valid">Succes!</p>
                        <p class="text-invalid">Invalid email, try again</p>
                    </div>
                </div>
                <div class="modal-form-field">
                    <label class="modal-form-label" for="phone-second-modal">Phone number</label>
                    <div class="modal-input-wrapper">
                        <input class="modal-form-input" name="phone-second" id="phone-second-modal" type="tel" placeholder="Placeholder"
                            pattern="[0-9\s\-\+\(\)]{6,}" required>
                        <p class="text-valid">Succes!</p>
                        <p class="text-invalid">Invalid phone number, try again</p>
                    </div>
                </div>
            </div>
            <button class="modal-input-button" type="submit">Go to checkout</button>
        </form>
    </div>
</div>