<section class="team" id="team">
  <div class="container">
    <p class="team-text">Meet</p>
    <h2 class="team-title-main">Our Team</h2>
    <p class="team-text-main">
      Dedicated professionals passionate about yoga and wellness.
    </p>
    <ul class="team-list">
      <li class="team-photo">
        <picture>
          <source
            srcset="
              /img/Teams-fotos/Yoga-Instructor-desk-1x.jpg 1x,
              /img/Teams-fotos/Yoga-Instructor-desk-2x.jpg 2x
            "
            media="(min-width: 1336px)"
            width="421"
          />
          <source
            srcset="
              /img/Teams-fotos/Yoga-Instructor-tab-1x.jpg 1x,
              /img/Teams-fotos/Yoga-Instructor-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="340"
          />
          <source
            srcset="
              /img/Teams-fotos/Yoga-Instructor-mob-1x.jpg 1x,
              /img/Teams-fotos/Yoga-Instructor-mob-2x.jpg 2x
            "
            media="(min-width: 375px)"
            width="343"
          />
          <img
            src="/img/Teams-fotos/Yoga-Instructor-mob-1x.jpg"
            alt="Liam_Johnson_Yoga_Instructor"
            style="width: 100%; height: auto"
          />
        </picture>
        <div class="team-photo-content">
          <h3 class="team-title">Liam Johnson</h3>
          <p class="team-text-job">Yoga Instructor</p>
          <p class="team-text-description">
            Emma has over 10 years of experience in Hatha and Vinyasa yoga.
          </p>
          <ul class="team-icon">
            <li class="team-icon-link">
              <a
                href="https://www.linkedin.com/"
                class="team-social-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="team-icon-social" width="24" height="24">
                  <use href="/img/sprite.svg#icon-linkedIn"></use>
                </svg>
              </a>
            </li>
            <li class="team-icon-link">
              <a
                href="https://www.instagram.com/"
                class="team-social-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="team-icon-social" width="24" height="24">
                  <use href="/img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-photo">
        <picture>
          <source
            srcset="
              /img/Teams-fotos/Meditation-Coach-desk-1x.jpg 1x,
              /img/Teams-fotos/Meditation-Coach-desk-2x.jpg 2x
            "
            media="(min-width: 1336px)"
            width="421"
          />
          <source
            srcset="
              /img/Teams-fotos/Meditation-Coach-tab-1x.jpg 1x,
              /img/Teams-fotos/Meditation-Coach-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="340"
          />
          <source
            srcset="
              /img/Teams-fotos/Meditation-Coach-mob-1x.jpg 1x,
              /img/Teams-fotos/Meditation-Coach-mob-2x.jpg 2x
            "
            media="(min-width: 375px)"
            width="343"
          />
          <img
            src="/img/Teams-fotos/Meditation-Coach-mob-1x.jpg"
            alt="Emma_Stone_Meditation_Coach"
            style="width: 100%; height: auto"
          />
        </picture>
        <div class="team-photo-content">
          <h3 class="team-title">Emma Stone</h3>
          <p class="team-text-job">Meditation Coach</p>
          <p class="team-text-description">
            Liam specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
          <ul class="team-icon">
            <li class="team-icon-link">
              <a
                href="https://www.linkedin.com/"
                class="team-social-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="team-icon-social" width="24" height="24">
                  <use href="/img/sprite.svg#icon-linkedIn"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-photo">
        <picture>
          <source
            srcset="
              /img/Teams-fotos/Pilates-Trainer-desk-1x.jpg 1x,
              /img/Teams-fotos/Pilates-Trainer-desk-2x.jpg 2x
            "
            media="(min-width: 1336px)"
            width="421"
          />
          <source
            srcset="
              /img/Teams-fotos/Pilates-Trainer-tab-1x.jpg 1x,
              /img/Teams-fotos/Pilates-Trainer-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="340"
          />
          <source
            srcset="
              /img/Teams-fotos/Pilates-Trainer-mob-1x.jpg 1x,
              /img/Teams-fotos/Pilates-Trainer-mob-2x.jpg 2x
            "
            media="(min-width: 375px)"
            width="343"
          />
          <img
            src="/img/Teams-fotos/Pilates-Trainer-mob-1x.jpg"
            alt="Sophia_Lee_Pilates_Trainer"
            style="width: 100%; height: auto"
          />
        </picture>
        <div class="team-photo-content">
          <h3 class="team-title">Sophia Lee</h3>
          <p class="team-text-job">Pilates Trainer</p>
          <p class="team-text-description">
            Sophia combines Pilates with yoga for a holistic fitness approach.
          </p>
          <ul class="team-icon">
            <li class="team-icon-link">
              <a
                href="https://www.instagram.com/"
                class="team-social-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="team-icon-social" width="24" height="24">
                  <use href="/img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-photo">
        <picture>
          <source
            srcset="
              /img/Teams-fotos/Yoga-Therapist-desk-1x.jpg 1x,
              /img/Teams-fotos/Yoga-Therapist-desk-2x.jpg 2x
            "
            media="(min-width: 1336px)"
            width="421"
          />
          <source
            srcset="
              /img/Teams-fotos/Yoga-Therapist-tab-1x.jpg 1x,
              /img/Teams-fotos/Yoga-Therapist-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="340"
          />
          <source
            srcset="
              /img/Teams-fotos/Yoga-Therapist-mob-1x.jpg 1x,
              /img/Teams-fotos/Yoga-Therapist-mob-2x.jpg 2x
            "
            media="(min-width: 375px)"
            width="343"
          />
          <img
            src="/img/Teams-fotos/Yoga-Therapist-mob-1x.jpg"
            alt="Noah_Brown_Yoga_Therapist"
            style="width: 100%; height: auto"
          />
        </picture>
        <div class="team-photo-content">
          <h3 class="team-title">Noah Brown</h3>
          <p class="team-text-job">Yoga Therapist</p>
          <p class="team-text-description">
            Noah focuses on therapeutic yoga to aid recovery and enhance
            well-being.
          </p>
          <ul class="team-icon">
            <li class="team-icon-link">
              <a
                href="https://www.linkedin.com/"
                class="team-social-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="team-icon-social" width="24" height="24">
                  <use href="/img/sprite.svg#icon-linkedIn"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-photo">
        <picture>
          <source
            srcset="
              /img/Teams-fotos/Fitness-Trainer-women-desk-1x.jpg 1x,
              /img/Teams-fotos/Fitness-Trainer-women-desk-2x.jpg 2x
            "
            media="(min-width: 1336px)"
            width="421"
          />
          <source
            srcset="
              /img/Teams-fotos/Fitness-Trainer-women-tab-1x.jpg 1x,
              /img/Teams-fotos/Fitness-Trainer-women-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="340"
          />
          <source
            srcset="
              /img/Teams-fotos/Fitness-Trainer-women-mob-1x.jpg 1x,
              /img/Teams-fotos/Fitness-Trainer-women-mob-2x.jpg 2x
            "
            media="(min-width: 375px)"
            width="343"
          />
          <img
            src="/img/Teams-fotos/Fitness-Trainer-women-mob-1x.jpg"
            alt="Ava_Green_Fitness_Trainer"
            style="width: 100%; height: auto"
          />
        </picture>
        <div class="team-photo-content">
          <h3 class="team-title">Ava Green</h3>
          <p class="team-text-job">Fitness Trainer</p>
          <p class="team-text-description">
            Ava integrates strength training with yoga to promote overall
            fitness.
          </p>
          <ul class="team-icon">
            <li class="team-icon-link">
              <a
                href="https://www.facebook.com/"
                class="team-social-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="team-icon-social" width="24" height="24">
                  <use href="/img/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-icon-link">
              <a
                href="https://www.instagram.com/"
                class="team-social-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="team-icon-social" width="24" height="24">
                  <use href="/img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="team-icon-link">
              <a
                href="https://www.linkedin.com/"
                class="team-social-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="team-icon-social" width="24" height="24">
                  <use href="/img/sprite.svg#icon-linkedIn"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-photo">
        <picture>
          <source
            srcset="
              /img/Teams-fotos/Fitness-Trainer-men-desk-1x.jpg 1x,
              /img/Teams-fotos/Fitness-Trainer-men-desk-2x.jpg 2x
            "
            media="(min-width: 1336px)"
            width="421"
          />
          <source
            srcset="
              /img/Teams-fotos/Fitness-Trainer-men-tab-1x.jpg 1x,
              /img/Teams-fotos/Fitness-Trainer-men-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="340"
          />
          <source
            srcset="
              /img/Teams-fotos/Fitness-Trainer-men-mob-1x.jpg 1x,
              /img/Teams-fotos/Fitness-Trainer-men-mob-2x.jpg 2x
            "
            media="(min-width: 375px)"
            width="343"
          />
          <img
            src="/img/Teams-fotos/Fitness-Trainer-men-mob-1x.jpg"
            alt="Clark_Thomas_Fitness_Trainer"
            style="width: 100%; height: auto"
          />
        </picture>
        <div class="team-photo-content">
          <h3 class="team-title">Clark Thomas</h3>
          <p class="team-text-job">Fitness Trainer</p>
          <p class="team-text-description">
            Clark specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
          <ul class="team-icon">
            <li class="team-icon-link">
              <a
                href="https://www.facebook.com/"
                class="team-social-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="team-icon-social" width="24" height="24">
                  <use href="/img/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-icon-link">
              <a
                href="https://www.instagram.com/"
                class="team-social-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="team-icon-social" width="24" height="24">
                  <use href="/img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
