<section class="yoga-classes">
    <div class="container">

    <div class="discover-section">
        <div class="discover-info">
            <p class="discover-info-top-text">Explore</p>
            <h2 class="discover-transform-title">Transform Your Life with Our Yoga Clases</h2>
            <h2 class="discover-info-title">Discover Our Most Popular Yoga Programs</h2>
            <p class="discover-info-bottom-text">Join our community and elevate your practice with our expertly designed
                yoga programs. Each course is tailored to meet
                various skill levels and personal goals.</p>
        </div>
        <div class="discover-yoga-programs">
            <ul class="discover-programs-lst">
                <li>
                    <picture>
                        <source srcset="/img/Placeholder_Image-1.webp 1x, /img/Placeholder_Image-1@2x.webp 2x"
                            type="image/webp">
                        <source srcset="/img/Placeholder_Image-1.jpg 1x, /img/Placeholder_Image-1@2x.jpg 2x"
                            type="image/jpeg">
                        <img src="/img/Placeholder_Image-1.jpg" srcset="/img/Placeholder_Image-1@2x.jpg 2x"
                            alt="group_yoga_class">
                    </picture>
                    <h3 class="discover-classes-names">Beginner Yoga: Foundations<span class="discover-span"> for New
                            Practitioners</span></h3>
                    <p class="discover-classes-text">Learn the basics of yoga in a supportive environment.</p>
                </li>
                <li>
                    <picture>
                        <source srcset="/img/Placeholder_Image-2.webp 1x, /img/Placeholder_Image-2@2x.webp 2x"
                            type="image/webp">
                        <source srcset="/img/Placeholder_Image-2.jpg 1x, /img/Placeholder_Image-2@2x.jpg 2x"
                            type="image/jpeg">
                        <img src="/img/Placeholder_Image-2.jpg" srcset="/img/Placeholder_Image-2@2x.jpg 2x"
                            alt="yoga">
                    </picture>
                    <h3 class="discover-classes-names">Vinyasa Flow: Energize Your Body and Mind</h3>
                    <p class="discover-classes-text">Experience a dynamic sequence that connects breath and movement.</p>
                </li>
                <li>
                    <picture class="last-li-picture">
                        <source srcset="/img/Placeholder_Image-3.webp 1x, /img/Placeholder_Image-3@2x.webp 2x"
                            type="image/webp">
                        <source srcset="/img/Placeholder_Image-3.jpg 1x, /img/Placeholder_Image-3@2x.jpg 2x"
                            type="image/jpeg">
                        <img src="/img/Placeholder_Image-3.jpg" srcset="/img/Placeholder_Image-3@2x.jpg 2x"
                            alt="meditation">
                    </picture>
                    <h3 class="discover-classes-names">Restorative Yoga: Deep Relaxation and Healing</h3>
                    <p class="discover-classes-text">Unwind and rejuvenate with gentle poses and mindfulness.</p>
                </li>
            </ul>
        </div>
        <div class="discover-btn-container">
            <a class="discover-btn" href="#pricing">Join<span class="discover-btn-span">now</span></a>
        </div>
    </div>
</section>