/* Styles for Mobile devices */
.about-us-container {
  padding: 64px 16px;
}
.about-us {
  background-color: #dfebeb;
  margin: 0 auto;
}

.about-us-main {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-scheme-1-text);
}

.about-us-text {
  padding-top: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: var(--color-scheme-1-text);
}

.about-us-numbered-letter {
  margin-top: 48px;
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
}

.about-us-numbered-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.about-us-main-list {
  padding-bottom: 20px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-scheme-1-text);
}

.about-us-text-list {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: var(--color-scheme-1-text);
}

.about-us-button {
  background: #c2d9fc;
  border: 1px solid var(--color-hawkes-blue);
  border-radius: 100px;
  padding: 10px 24px;
  width: 343px;
  height: 46px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #0d0b0a;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-us-button-te {
  display: none;
}

.about-us-button-text {
  display: none;
}
.about-us-button:hover,
.about-us-button:focus {
  opacity: 0.5;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .about-us-container {
    padding: 40px 32px;
  }
  .about-us {
    background-color: #f2fafa;
  }

  .about-us-main {
    padding-top: 40px;
  }

  .about-us-numbered-letter {
    row-gap: 24px;
    column-gap: 24px;
    margin-bottom: 40px;
  }

  .about-us-numbered-list {
    max-width: calc((100% - 24px) / 2);
    padding-bottom: 22px;
  }

  .about-us-text-list {
    width: 340px;
  }

  .about-us-button {
    width: 92px;
    height: 46px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }

  .about-us-button-te {
    display: block;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
  }

  .rol {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1336px) {
  .about-us-container {
    padding: 112px 64px;
    box-sizing: content-box;
  }

  .about-us-main {
    padding: 0;
  }

  .about-us-text {
    padding-top: 24px;
  }

  .about-us-numbered-letter {
    flex-wrap: nowrap;
  }

  .about-us-numbered-list {
    width: 310px;
    height: 206px;
    padding: 0;
    margin: 0;
  }

  .about-us-main-list {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: center;
    width: 310px;
  }

  .about-us-text-list {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    width: 310px;
  }
  .about-us-button {
    border-radius: 100px;
    width: 110px;
    height: 46px;
    display: flex;
    justify-content: space-between;
  }
  .about-us-button-te {
    display: none;
  }
  .about-us-button-text {
    display: block;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
  }
}
