.modal {
    padding: 64px 16px 112px 16px;
    position: fixed;
    top: 0;
    left: 0;
    background: #dfebeb;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.modal-close-button {}

.modal-icon-close {
    fill: #0d0b0a;
    margin-left: auto;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color .3s ease, color .3s ease, opacity .3s ease;
}

.modal-text {
    font-family: "Cabin", sans-serif;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #0d0b0a;
    margin-bottom: 32px;
}

.modal-first-paragraph {
    font-family: "Cabin", sans-serif;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    text-align: center;
    color: #0d0b0a;
    margin-bottom: 8px;
}

.modal-second-paragraph {
    font-family: "Cabin", sans-serif;
    font-size: 44px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #0d0b0a;
    margin-bottom: 32px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 24px; 
}

.modal-form-field {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.modal-form-label {
    font-family: "Sarabun", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #0d0b0a;
}

.modal-input-wrapper {}

.modal-form-input {
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 12px;
    padding: 8px 12px;
    width: 343px;
    height: 42px;
    background: rgba(13, 11, 10, 0.05);
    display: flex;
    gap: 24px;
}

.modal-input-button {
    border: 1px solid #c2d9fc;
    border-radius: 100px;
    padding: 10px 24px;
    width: 343px;
    height: 46px;
    background: #c2d9fc;
}

.modal-input-button:hover,
.modal-input-button:focus {
    border: 1px solid #c2d9fc;
    background: #c2d9fc;
    opacity: 0.5;
}