.hero .container {
	padding: 0;
}

.hero-image {
	background-image: image-set(url(../img/hero-mobil.jpg) 1x,
			url(../img/hero-mobil-2x.jpg) 2x);
	background-image: image-set(
		url(../img/hero-mobil.jpg) 1x,
		url(../img/hero-mobil-2x.jpg) 2x),
		url(../img/hero-mobil.jpg);
	background-size: cover;
	background-position: center;
	height: 301px;
}

.hero-text-box {
	color: rgba(13, 11, 10, 1);
	font-style: normal;
	font-family: Sarabun;
	font-weight: 400;
	font-style: Regular;
	font-size: 16px;
	line-height: 160%;
	letter-spacing: 0%;
	width: 92%;
	padding: 48px 16px;
}

.title-one {
	font-family: Cabin;
	font-weight: 400;
	font-style: normal;
	font-size: 44px;
	line-height: 120%;
	letter-spacing: 0.01em;
	margin-bottom: 20px;
}

.hero-text {
	font-family: Sarabun;
	font-size: 16px;
	line-height: 160%;
	letter-spacing: 0;
	font-weight: 400;
	margin-bottom: 24px;
}

.button-box {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 88%;
}

.btn-style {
	border-radius: 100px;
	height: 48px;
	font-family: Sarabun;
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	line-height: 160%;
	letter-spacing: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity .3s ease;
}

.btn-join-now {
	background-color: rgba(194, 217, 252, 1);
	border: 1px solid rgba(194, 217, 252, 1);
}

.btn-join-now:hover,
.btn-join-now:focus {
	opacity: 0.5;
}

.btn-learn-more {
	background-color:
		rgba(13, 11, 10, 0.05);
	border:
		1px solid rgba(255, 255, 255, 0);
}

.btn-learn-more:hover,
.btn-learn-more:focus {
	opacity: 0.5;
}

@media screen and (min-width: 375px) {

	.hero-text-box {
		width: 375px;
	}

	.button-box {
		width: 329px;
	}

}

@media screen and (min-width: 768px) {

	.hero-image {
		background-image: image-set(url(../img/hero-tablet.jpg) 1x,
				url(../img/hero-tablet-2x.jpg) 2x);
		background-image: image-set(
			url(../img/hero-tablet.jpg) 1x,
			url(../img/hero-tablet-2x.jpg) 2x),
			url(../img/hero-tablet.jpg);
		height: 359px;
	}

	.hero-text-box {
		width: 768px;
		padding: 24px 32px;
	}

	.hero-text {
		font-size: 18px;
		margin-bottom: 32px;
	}

	.title-one {
		width: 423px;
		margin-bottom: 8px;
	}

	.text-button-box {
		width: 641px;
		padding-top: 8px;
	}

	.button-box {
		flex-direction: row;
		gap: 16px;
	}

	.btn-style {
		width: 144.5px;
	}
}

@media screen and (min-width: 1336px) {

	.hero-image {
		background-image: image-set(url(../img/hero-desctop.jpg) 1x,
				url(../img/hero-desctop-2x.jpg) 2x);
		background-image: image-set(
			url(../img/hero-desctop.jpg) 1x,
			url(../img/hero-desctop-2x.jpg) 2x),
			url(../img/hero-desctop.jpg);
		height: 684px;
		width: 1336px;
		background-size: cover;
	}

	.title-one {
		width: 644px;
		font-size: 72px;
		margin-bottom: 8px;
	}

	.hero-text-box {
		display: flex;
		width: 1440px;
		padding: 80px 64px;
		gap: 24px;
	}

	.btn-style {
		width: 113px;	
	}

	.btn-learn-more {
		width: 128px;
	}
}