.pricing {
    background-color: #f8fbfe;
}

.pricing-container {
    margin: 0 auto;
    padding: 64px 16px;
}

.pricing-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

.pricing-sub-heading {
    font-family: "Sarabun", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #0d0b0a;
}

.pricing-main-heading {
    font-family: "Cabin", sans-serif;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #0d0b0a;
}

.pricing-subtitle {
    font-family: "Sarabun", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: #0d0b0a;
    margin-bottom: 48px;
}

.pricing-cards {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
    width: 100%;

}

.pricing-card {
    border: 0px solid rgba(13, 11, 10, 0.15);
    border-radius: 16px;
    padding: 32px 24px;
    background: #dfebeb;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.third-card {
    display: none;
}

.pricing-card-title {
    font-family: "Cabin", sans-serif;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    text-align: center;
    color: #0d0b0a;
    margin-bottom: 8px;
}

.pricing-card-subtitle {
    font-family: "Cabin", sans-serif;
    font-size: 44px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #0d0b0a;
    margin-bottom: 24px;
}

.pricing-card-list {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}

.pricing-card-item {
    font-family: "Sarabun", sans-serif;
    display: flex;
    gap: 16px;
    font-size: 16px;
    line-height: 1.6;
    color: #0d0b0a;
}

.pricing-icon {
    fill: #0d0b0a;
}

.join-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: #0d0b0a;
    border: 1px solid #c2d9fc;
    border-radius: 100px;
    padding: 10px 24px;
    width: 100%;
    background-color: #c2d9fc;
}


@media only screen and (min-width: 768px) and (max-width: 1336px) {
    .pricing-container {
        padding: 40px 32px;
    }

    .pricing-subtitle {
        font-size: 18px;
        margin-bottom: 24px;
    }

    .pricing-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .pricing-card  {
        width: calc(50% - 16px);
    }
    
    .third-card {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        gap: 32px;  
    }

    .pricing-card-left,
    .pricing-card-right {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    

    .pricing-card:last-child {
        width: 100%;
        gap: 32px;
        padding: 86px 16px;
    } 
    
    .pricing-card-title {
        font-size: 22px;
        margin: 0;
    }

    .pricing-card-subtitle {
        font-size: 72px;
        margin: 0;
    }

    .hidden-card {
        display: none;
    }
    
}


@media only screen and (min-width: 1337px) {
    .pricing-container {
        padding: 112px 64px;
    }

    .main-heading {
        font-size: 52px;
    }

    .pricing-subtitle {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .pricing-cards {
        width: 100%;
        justify-content: center;
        gap: 24px;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .pricing-card {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .join-button {
        margin-top: auto;
    }

    .third-card {
        display: none;
    }
}